* {
        margin: 0;
        padding: 0;
    }

    .rumbo-font {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
    }
    
    .main-header {
        background: #ec008c;
        padding: 12px 7px 18px;
        border-bottom: 2px solid rgba(154, 154, 154, 1);
        text-align: center;
    }

    @media (min-width: 641px) {
      #content div {
        width: 40%;
        margin-right: 25px;
      }
      nav {
        border: 2px solid rgba(154, 154, 154, 1);
      }
      article {
        width: calc(60% - 25px);
      }
      .content {
        display: flex;
        padding: 25px;
      }
      nav a:last-child {
        border: none;
      }
    }
    
    nav a {
        display: list-item;
        list-style: none;
        color: #1A1A1A;
        text-decoration: none;
        border-bottom: 2px solid rgba(154, 154, 154, 1);
        padding: 25px 20px;
        background: white;
        background: -moz-linear-gradient(white, #EDEDED);
        background: -webkit-gradient(white, #EDEDED);
        background: linear-gradient(white, #EDEDED);
        font-size: 28px;
    }
    
    article {
        background-color: #ededed;
        padding: 30px 30px 30px 30px;
        display: flex;
        border-bottom: 2px solid rgba(154, 154, 154, 1);
    }
    .hotel-image {
        width: 45%;
    }
    .hotel-image img {
        width: 100%;
        object-fit: cover;
    }
    .hotel-info {
        width: 55%;
        margin-left: 20px;
        position: relative;
    }
    .hotel-info footer {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
    }
    .hotel-info footer span:last-child {
        color: grey;
    }
    .hotel-price {
        color: #ec008c;
        display: block;
        font-size: 30px;
    }
    .hotel-rating {
        padding: 0px 42px;
    }
    .hotel-rating-0 {
        background: url("./imgs/ratings.png") 0 0;
    }
    .hotel-rating-1 {
        background: url("./imgs/ratings.png") 0 -18px;   
    }
    .hotel-rating-2 {
        background: url("./imgs/ratings.png") 0 -36px;   
    }
    .hotel-rating-3 {
        background: url("./imgs/ratings.png") 0 -54px;   
    }
    .hotel-rating-4 {
        background: url("./imgs/ratings.png") 0 -72px;   
    }
    .hotel-rating-5 {
        background: url("./imgs/ratings.png") 0 -90px;   
    }